@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #141414;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 90%;
  margin: auto;
}

button {
  background-color: #e50813;
  outline: none;
  border: none;
  color: #fff;
  padding: 12px 40px;
  font-weight: 500;
  font-size: 17px;
}

.row {
  width: 50%;
}

p {
  line-height: 30px;
}

.flex {
  display: flex;
}

.control-btn button {
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: 2px solid rgb(255, 255, 255, 0.3);
}

.control-btn .next {
  position: absolute;
  top: 50%;
  right: 2%;
}

.control-btn .prev {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 99;
}
